@import 'src/global.scss';

ion-content {
  background-color: $color-kuisGray;
}

.headerText {
  padding: 10px;
  color: white;
  background: $color-kuis;
  text-align: center;
}

.headerText h1 {
  font-weight: 900;
}

.headerText h2 {
  font-weight: 900;
  font-size: 20px;
}

.slider {
  max-width: 400px;
  margin: 5px auto;
  padding-bottom: 0;
  width: 70%;
  height: 50%;
}

.section-buttons {
  max-width: 500px;
  width: 70%;
  flex: 0 0 auto;
  text-align: center;
  margin: 0 auto;

  ion-button {
    margin: 10px;
  }
}

.slide-text {
  text-align: center;
  position: relative;
  color: $color-kuisBlack;
  bottom: 100%;
}

.image {
  width: 65%;
  height: 65%;
  object-fit: scale-down;
}

@media (max-width: 573px) {
  .slide-text {
    bottom: 80%;
  }
  .section-buttons {
    width: 90%;
  }
  .image {
    width: 100%;
    height: 80%;
    object-fit: scale-down;
  }
}

