<ion-content force-overscroll="false" class="landing-page bg-gradient">

    <div class="headerText">
        <h1>Willkommen bei Kuis!</h1>
        <h2>Dem Bilder Quiz</h2>
    </div>
    <div class="kuis-content">
    <div class="ion-padding slider">
            <ion-slides pager="true" [options]="slidesOptions" #slideWithNav>
                <ion-slide *ngFor="let s of sliderOne.slidesItems">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <img class="image" [src]="s.path" [alt]="'about the app...'">
                            </ion-col>
                        </ion-row>
                        <ion-row class="bottom-row">
                            <ion-col>
                                <span class="slide-text">{{s.text}}</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>

        </div>

        <div class="section-buttons ion-padding">

            <app-kuis-button [title]="'Registrieren'" [routerLink]="['/registrierung']"></app-kuis-button>
            <app-kuis-button [title]="'Einloggen'" [routerLink]="['/login']"></app-kuis-button>
            <ion-button expand="block" fill="solid" color="#000" shape="round" class="button-landing white"
                        (click)="googleLogin()">
                <ion-img class="googleIMG" src="assets/icon/google.png" alt="Sign in with Google"></ion-img>
            </ion-button>
            <app-kuis-button [title]="'Du brauchst Hilfe?'" [outline]="true" [routerLink]="['/hilfe']"></app-kuis-button>

        </div>
    </div>
</ion-content>
