<ion-header>
    <ion-toolbar>
        <ion-title>landing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <h1>Pimmel</h1>
        </ion-slide>
        <ion-slide>
            <h1>hallo</h1>
        </ion-slide>
        <ion-slide>
            <h1>Penis</h1>
        </ion-slide>
    </ion-slides>


    <ion-button (click)="redirectToLogin()">Login</ion-button>
    <ion-button (click)="redirectToRegister()">Registrieren</ion-button>

    <ion-button (click)="googleLogin()">
        <ion-icon name="logo-google"></ion-icon>
    </ion-button>

</ion-content>
