<ion-content force-overscroll="false" class="landing-page bg-gradient">

    <div class="vertical-layout">
        <div class="ion-padding slider">
            <ion-slides pager="true" [options]="slidesOptions" #slideWithNav>
                <ion-slide *ngFor="let s of sliderOne.slidesItems">
                    <ion-grid>
                        <ion-row>
                            <app-aspect-ratio class="center" [ratio]="{w:3, h:4}">
                                <img class="image" [src]="s.path" [alt]="'about the app...'">
                            </app-aspect-ratio>
                        </ion-row>

                        <ion-row class="bottom-row">
                            <span class="slide-text">{{s.text}}</span>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>

        </div>

        <div class="section-buttons ion-padding">
            <ion-button expand="block" fill="outline" shape="round"
                        class="button-landing" [routerLink]="['/registrierung']">
                REGISTRIEREN
            </ion-button>

            <ion-button expand="block" fill="outline" shape="round" class="button-landing"
                        [routerLink]="['/login']">
                EINLOGGEN
            </ion-button>

            <ion-button expand="block" fill="outline" shape="round" class="button-landing"
                        (click)="googleLogin()">
                LOGIN MIT&nbsp;
                <ion-icon name="logo-google"></ion-icon>
                OOGLE
            </ion-button>

            <ion-button expand="block" fill="outline" shape="round" class="button-landing"
                        [routerLink]="['/hilfe']">
                DU BRAUCHST HILFE?
            </ion-button>

        </div>
    </div>
</ion-content>
