@import 'src/global.scss';

ion-card {
  border-radius: 20px;
  margin: 25px 0 25px 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.kuis-note-bestaetigung {
  cursor: pointer;
  color: white;
  margin: 10px;
  padding-bottom: 20px;
}
