<ion-header>
<app-navbar name="Profil" [showLogout]="true"></app-navbar>
</ion-header>

<ion-header *ngIf="hasVerified == false" padding style="background-color: red; color: white">
    <p style="padding-left: 10px"><b>Dein Konto ist noch nicht bestätigt.</b><br>Bitte schau in deinem E-Mail Postfach nach der Bestätigung.<br>
    Falls du deine E-Mail bereits bestätigt hast, lad die Seite nochmal neu.</p>
</ion-header>

<ion-content>
    <div class="kuis-content">
        <ion-card class="margin">
            <ion-card-header>
                <ion-card-title color="black">{{user.nutzername}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-icon color="black" name="mail-outline"></ion-icon>
                    {{user.email}}
                </ion-item>

                <ion-button expand="block" shape="round" [routerLink]="['/abzeichen']">
                    <ion-icon name="trophy-outline"></ion-icon>
                    {{user.abzeichen.length}}
                </ion-button>

            </ion-card-content>
        </ion-card>

        <app-kuis-button [title]="'Profil bearbeiten'" (click)="showEditModal()"></app-kuis-button>
        <app-kuis-button [title]="'Logout'" (click)="authService.logOut()"></app-kuis-button>
        <app-kuis-button [title]="'Account löschen'" (click)="deleteWarning(user)"></app-kuis-button>

        <app-footer></app-footer>

    </div>
</ion-content>
