@import "src/global.scss";

.footer {
  padding: 10px;
  color: $color-kuisBlack;
  background-color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
  position: relative;
  transform: translateX(50%);
  right: 50%;
  bottom: 0;
  box-shadow: 0 0 5px $color-kuisBlack;
}


