<ion-col>
    <ion-card class="card-border-rounded">

        <ion-card-header>
            <ion-card-title *ngIf="!add;else addpage" class="kuis-block">
                <h3>{{titel}}</h3>
                <div id="div1"><h6>{{bestResult}} / {{length}}</h6></div>
                <div><ion-progress-bar value="{{progress()}}"></ion-progress-bar></div>
            </ion-card-title>
            <ng-template #addpage>
                <ion-card-title>{{titel}}</ion-card-title>
            </ng-template>
        </ion-card-header>
        <ion-card-content>
            <img [alt]="'Bild'" [src]="bild">
            <div *ngIf="add||edit" class="overlay">
                <ion-icon *ngIf="edit" class="icon-overlay" slot="icon-only" name="trash-outline"></ion-icon>
                <ion-icon *ngIf="add" class="icon-overlay" slot="icon-only" name="add-outline"></ion-icon>
            </div>
        </ion-card-content>
    </ion-card>
</ion-col>

<app-kuis-button [title]="button"></app-kuis-button>
