@import 'src/global.scss';

ion-card {
  margin-bottom: 0;
}
ion-card-title {
  color: $color-kuisBlack;
  --ion-font-weight: 900;
}

ion-note {
  color: $color-kuisBlack;
}

img {
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: solid 10px $color-kuis;
  border-radius: 20px;

}

ion-card-content {
  padding: 0;
  border: 0;

}

.kuis-block {
  display: inline-block;
}
