<app-navbar [name]="isEdit ? 'Modulübersicht': 'Module löschen'" [showBack]="true" [showLogout]="true"></app-navbar>

<ion-content>
    <div class="kuis-content">
    <ion-row>
        <ion-item>
            <ion-input (ionInput)="doSearch()"
                       clearOnEdit="false"
                       color="primary"
                       inputmode="text"
                       placeholder="Fragenmodule suchen..." required="true">
            </ion-input>

            <ion-icon *ngIf="filteredModules.length < module.length"
                      name="close-outline"
                      (click)="clear()"
                      color="primary"
                      slot="end">
            </ion-icon>

            <ion-icon name="search-outline"
                      color="primary"
                      slot="end">
            </ion-icon>

        </ion-item>

        <ion-icon name="settings-outline"
                  (click)="deleteModule()">
        </ion-icon>

        <ion-icon name="options-outline">
        </ion-icon>
        <ion-icon name="build-outline" (click)="edit()">
        </ion-icon>
        <app-kuis-button [title]="'Fertig'" (click)="undoEdit()"></app-kuis-button>
    </ion-row>
    <div *ngIf="filteredModules.length > 0; else empty">
        <app-quiz-wrapper (click)="chooseQuiz(modul.titel, modul.id, modul.bild)" [titel]="modul.titel"
                          [bild]="modul.bild" *ngFor="let modul of filteredModules" [edit]="isEdit" [button]="isEdit ? 'Löschen':'Starten'">
        </app-quiz-wrapper>

    </div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="presentModalAddModule()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    </div>
</ion-content>

<ng-template #empty>
    <ion-col>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    <h4 *ngIf="!noImportedModules">Die Suche ergab keinen Treffer.</h4>
                    <h4 *ngIf="noImportedModules">Es wurden noch keine Module importiert.<br>
                        Mit dem Plus rechts unten in der Ecke lassen sich neue Module importieren.</h4>
                </ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-col>
</ng-template>

<app-footer></app-footer>
