<app-navbar *ngIf="!genugFragen" [questionsAvailable]="true" [showBack]="true" [name]="'Quiz'" [showLogout]="false"></app-navbar>
<app-navbar *ngIf="genugFragen" [questionsAvailable]="false" [showBack]="true" [name]="'Quiz'" [showLogout]="false"></app-navbar>

<ion-content>
    <div class="kuis-content">
        <div *ngIf="this.modulService.started && !genugFragen else noQuestions">
            <app-frage></app-frage>
        </div>

        <ng-template #noQuestions>
            <ion-card>
                <ion-card-content>
                    <h1>Nicht genug Fragenmodule importiert.</h1>
                    <h1>Um Fragenmodule zu importieren, rufe die <a [routerLink]="'/moduluebersicht'">Modulübersicht</a> auf.</h1>
                </ion-card-content>
            </ion-card>
        </ng-template>
    </div>
</ion-content>


