<app-navbar *ngIf="this.modulService.started && !genugFragen" [questionsAvailable]="true" [showBack]="true" [name]="'Quiz'" [showLogout]="false"></app-navbar>
<app-navbar *ngIf="!(this.modulService.started && !genugFragen)" [questionsAvailable]="false" [showBack]="true" [name]="'Quiz (nicht genügend Fragen)'" [showLogout]="false"></app-navbar>

<ion-content>
    <div class="kuis-content">

        <div *ngIf="this.modulService.started; else noQuestions">
          <app-frage></app-frage>
        </div>

        <ng-template #noQuestions>
            <ion-card class="card-border-rounded kuis-card-margin-topbottom">
                <ion-card-content>
                    <h1>Nicht genug Fragenmodule importiert.</h1>
                    <br>
                    <h2>Du benötigst mind. 10 Fragen (die noch nicht 6 Mal in Folge richtig beantwortet wurden), um eine Lernrunde zu starten.</h2>
                    <br>
                    <h2>Um Module und deren Fragen zu importieren, rufe die <a [routerLink]="'/moduluebersicht'">Modulübersicht</a> auf.</h2>
                </ion-card-content>
            </ion-card>
        </ng-template>
    </div>
</ion-content>


