<app-navbar [showLogout]="false" [name]="'Abzeichen'"></app-navbar>
<ion-content>
    <div class="kuis-content" *ngIf="abzeichenArray.length > 0">
        <ion-card class="card-border-rounded">
            <ion-card-header>
                <ion-card-title><b>Abzeichen Übersicht</b></ion-card-title>
            </ion-card-header>

            <div class="abzeichenContent">
                <p class="abzeichenH1">{{authService.getUser().abzeichen.length}}</p>
                <p class="abzeichenP">/{{abzeichenArray.length}}</p>
                <ion-icon class="abzeichenIcon" name="trophy-outline"></ion-icon>
            </div>
        </ion-card>
        <ion-card class="card-border-rounded">
            <ion-card-content class="trophyList">

                <ion-item>
                    <ion-input (ionInput)="doSearch()"
                               clearOnEdit="false"
                               color="primary"
                               inputmode="text"
                               placeholder="Abzeichen suchen..." required="true">
                    </ion-input>

                    <ion-icon *ngIf="filteredAbzeichenArray.length < abzeichenArray.length" name="close-outline"
                              (click)="clear()" color="primary" slot="end"></ion-icon>
                    <ion-icon name="search-outline" color="primary" slot="end"></ion-icon>

                </ion-item>

                <ion-list *ngIf="filteredAbzeichenArray.length > 0; else empty">
                    <ion-item-group *ngFor="let abzeichen of filteredAbzeichenArray" (click)="showAbzeichen(abzeichen)">
                        <ion-item lines="none">
                            <ion-label>
                                <h4>{{abzeichen.titel}}</h4>
                            </ion-label>
                            <ion-icon class="trophyBackground" [class.trophyIsGray]="!abzeichen.erreicht" slot="start"
                                      name="trophy-outline"></ion-icon>
                            <ion-icon *ngIf="abzeichen.showBeschreibung" color="#000" slot="end"
                                      name="chevron-up-outline"></ion-icon>
                            <ion-icon *ngIf="!abzeichen.showBeschreibung" color="#000" slot="end"
                                      name="chevron-down-outline"></ion-icon>
                        </ion-item>
                        <ion-item *ngIf="abzeichen.showBeschreibung" lines="none" class="item item-text-wrap">

                            <h6>{{abzeichen.beschreibung}}</h6>

                        </ion-item>
                    </ion-item-group>
                </ion-list>

            </ion-card-content>
        </ion-card>
    </div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="shareAbzeichen()">
            <ion-icon name="share-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ng-template #empty>
    <ion-item lines="none">
        <ion-label>
            <h4>Die Suche ergab keinen Treffer.</h4>
        </ion-label>
    </ion-item>
</ng-template>
