<app-navbar [name]="'Statistik'" [showBack]="true"></app-navbar>


<ion-content>
    <div class="kuis-content">
        <ion-card class="card-border-rounded kuis-card-margin-topbottom" *ngIf="tmpArray.length === 10;">
            <ion-item lines="none">
                <h3>Deine letzte Spielrunde: {{statistikService.richtigBeantwortet}}/10 Fragen richtig beantwortet.</h3>
            </ion-item>
            <ion-card-content>
                <ion-list>
                    <ion-item-group *ngFor="let statistik of tmpArray" (click)="showStatistik(statistik)">
                        <ion-item [class.farbe-richtig]="statistik._gewaehlteAntwort === statistik._richtigeAntwort" [class.farbe-falsch]="statistik._gewaehlteAntwort !== statistik._richtigeAntwort" color="green" lines="none" class="klickbar">
                           {{statistik._frage}}
                            <br>
                            <ion-icon *ngIf="statistik._showBeschreibung" color="#000" slot="end"
                                      name="chevron-up-outline"></ion-icon>
                            <ion-icon *ngIf="!statistik._showBeschreibung" color="#000" slot="end"
                                      name="chevron-down-outline"></ion-icon>
                        </ion-item>

                        <ion-item *ngIf="statistik._showBeschreibung" lines="none" class="item item-text-wrap">
                            <ion-item><h6>Richtige Antwort: {{statistik._richtigeAntwort}}</h6></ion-item>
                            <ion-item><h6>Gewählte Antwort: {{statistik._gewaehlteAntwort}}</h6></ion-item>
                        </ion-item>
                    </ion-item-group>
                    <app-kuis-button [title]="'Zu deiner Gesamt-Statistik'" (click)="clear()"></app-kuis-button>
                </ion-list>
            </ion-card-content>
        </ion-card>

    <app-pie-chart *ngIf="tmpArray.length < 10;"></app-pie-chart>
    </div>
</ion-content>



