<app-navbar name="Login" [showLogout]="false"></app-navbar>

<ion-content>
    <div class="content">
        <ion-item class="roundetInput">
            <ion-label>E-Mail*</ion-label>
            <ion-input class="ion-text-end"
                       #email placeholder="E-Mail"
                       clearOnEdit="false"
                       [(ngModel)]="emailForLogIn"
                       type="text"
                       maxlength="30"
                       required></ion-input>
        </ion-item>

        <ion-item class="roundetInput">
            <ion-label>Passwort*</ion-label>
            <ion-input class="ion-text-end"
                       placeholder="Passwort"
                       clearOnEdit="false"
                       [(ngModel)]="passwordForLogIn"
                       type="password"
                       maxlength="30"
                       required></ion-input>
        </ion-item>
        <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
           *ngIf="errors.get('wrongData')"> {{errors.get('wrongData')}}</p>

        <div class="section-buttons ion-padding">
            <ion-button class="kuis-button ion-padding-horizontal" expand="block" shape="round" fill="solid"
                        size="large" (click)="login(emailForLogIn,passwordForLogIn)">
                login
            </ion-button>
        </div>

        <p class="margin"> Eingeloggt bleiben?
            <ion-checkbox slot="end" (click)="toggleSession()"></ion-checkbox>
        </p>

        <div class="section-buttons ion-padding">
            <ion-button class="kuis-button ion-padding-horizontal" expand="block" shape="round" fill="solid"
                        size="large" (click)="googleLogin()">
                <ion-img src="assets/icon/google.png" alt="Sign in with Google"></ion-img>
            </ion-button>
        </div>

        <p class="margin"> Noch keinen Account? Dann registriere dich <a [routerLink]="['/registrierung']">
            hier!</a></p>
    </div>
</ion-content>


