@import 'src/global.scss';

ion-content {
  --ion-item-background: white;
  --ion-card-background: white;
}

.hilfeContent {
  display: table;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hilfeList {
  padding: 0;
}

ion-card-title {
  color: $color-kuisBlack;
}

ion-card-content {
  color: $color-kuisBlack;
}

.card-border-rounded {
  border-radius: 20px;
}

ion-item-group {
  border-bottom: solid 1px $color-kuisGray;
  margin: 10px;
}

.klickbar {
  cursor: pointer;
}

.margin {
  margin: 25px 0 25px 0;
}
