<ion-header>
    <ion-toolbar>
        <ion-title>registrierung</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
    <ion-label>E-Mail*</ion-label>
    <ion-input class="ion-text-end" [(ngModel)]="emailForSignUp" type="text" maxlength="30"
               required></ion-input>
</ion-item>

<ion-item>
    <ion-label>Passwort*</ion-label>
    <ion-input class="ion-text-end" [(ngModel)]="passwordForSignUp" type="password" maxlength="30"
               required></ion-input>
</ion-item>

<ion-button (click)="signUp(emailForSignUp,passwordForSignUp)">
    Sign Up
</ion-button>
</ion-content>
