<app-navbar name="Registrierung" [showLogout]="false"></app-navbar>

<ion-content>
    <div class="content">
        <ng-container>
            <ion-list>

                <ion-item class="roundetInput">
                    <ion-label>Nutzername*</ion-label>
                    <ion-input #focus class="ion-text-end formControl" placeholder="Nutzername..."
                               [(ngModel)]="nutzername"
                               type="text"
                               required></ion-input>
                </ion-item>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('nutzername')">
                    {{errors.get('nutzername')}} </p>


                <ion-item class="roundetInput">
                    <ion-label>E-Mail*</ion-label>
                    <ion-input class="ion-text-end formControl" placeholder="Email..." [(ngModel)]="email" type="email"
                               required></ion-input>
                </ion-item>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('email')">
                    {{errors.get('email')}} </p>


                <ion-item class="roundetInput">
                    <ion-label>Passwort*</ion-label>
                    <ion-input class="ion-text-end formControl" placeholder="Passwort..." [(ngModel)]="passwort"
                               type="password"
                               required></ion-input>
                </ion-item>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('passwort')">
                    {{errors.get('passwort')}} </p>


                <ion-item class="roundetInput">
                    <ion-label>Passwort bestätigen*</ion-label>
                    <ion-input class="ion-text-end formControl" placeholder="Passwort bestätigen..."
                               [(ngModel)]="passwortConfirm" type="password"
                               required></ion-input>
                </ion-item>

                <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('passwortConfirm')">
                    {{errors.get('passwortConfirm')}} </p>

            </ion-list>

            <ion-note class="margin">*Pflichtfeld</ion-note>

        </ng-container>


        <div class="section-buttons ion-padding">
            <ion-button class="kuis-button ion-padding-horizontal" expand="block" color="" shape="round" fill="solid"
                        size="large" (click)="signUp(nutzername, email, passwort)">
                Registrieren
            </ion-button>
        </div>
    <div class="section-buttons ion-padding">
        <ion-button class="kuis-button ion-padding-horizontal" expand="block" shape="round" fill="solid" size="large" (click)="signUp(nutzername, email, passwort)">
            Registrieren
        </ion-button>
    </div>

        <p class="margin">
            Mit der Erstellung eines Accounts stimmst du unserer <a class="legal-action" (click)="showPrivacyModal()">
            Datenschutzbestimmung </a>
            und unseren
            <a class="legal-action" (click)="showTermsModal()">Nutzungsbedingungen</a> zu.
        </p>
    </div>

    <a class="margin" (click)="redirectToLogin()">Bereits registriert? Hier einloggen!</a>
</ion-content>
