<ion-list>

  <ion-radio-group value="zuletztGespielt" (ionChange)="modulService.sortModule($event)">

    <ion-list-header>
      <ion-label>Sortieren</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-label>zuletzt gespielt</ion-label>
      <ion-radio slot="start" value="zuletztGespielt"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Hinzugefügt</ion-label>
      <ion-radio slot="start" value="hinzugefügt"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Aufsteigend</ion-label>
      <ion-radio slot="start" value="aufsteigend"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Absteigend</ion-label>
      <ion-radio slot="start" value="absteigend"></ion-radio>
    </ion-item>


  </ion-radio-group>

  <ion-radio-group value="keinFilter" (ionChange)="modulService.filterModule($event)">

    <ion-list-header>
      <ion-label>Filter</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-label>Kein Filter</ion-label>
      <ion-radio slot="start" value="keinFilter"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Nicht bearbeitet</ion-label>
      <ion-radio slot="start" value="nichtBearbeitet"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Alle richtig</ion-label>
      <ion-radio slot="start" value="alleRichtig"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
