<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Abbrechen</ion-button>
        </ion-buttons>

        <ion-title>
            Profil bearbeiten
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <ng-container>
            <ion-list>

                <ion-item>
                    <ion-label>Nutzername*</ion-label>
                    <ion-input #focus
                               class="ion-text-end formControl"
                               placeholder="Nutzername..."
                               [(ngModel)]="user.nutzername"
                               type="text"
                               required>

                    </ion-input>
                </ion-item>

                <p class="ion-text-end ion-padding-end"
                   style="color:var(--ion-color-danger)"
                   *ngIf="errors.get('nutzername')">
                    {{errors.get('nutzername')}}
                </p>
            </ion-list>


        </ng-container>

        <div class="section-buttons ion-padding">

            <ion-note class="margin">*Pflichtfeld</ion-note>

            <app-kuis-button [title]="'Speichern'"
                             [margin]="true"
                             (click)="save(user.nutzername)">
            </app-kuis-button>

            <app-kuis-button (click)="dismiss()" [title]="'Passwort zurücksetzen'"
                             [margin]="true"
                             [routerLink]="['/resetpassword']">
            </app-kuis-button>
        </div>
    </div>


</ion-content>
