<app-navbar [name]="'Passwort zurücksetzen'"></app-navbar>

<ion-content>
    <div class="content">
        <ion-item class="roundetInput">
            <ion-label>E-Mail*</ion-label>
            <ion-input class="ion-text-end"
                       #email placeholder="E-Mail"
                       clearOnEdit="false"
                       [(ngModel)]="emailForPassReset"
                       type="email"
                       maxlength="60"
                       required></ion-input>
        </ion-item>
        <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
           *ngIf="errors.get('wrongData')"> {{errors.get('wrongData')}}</p>

        <app-kuis-button [title]="'Passwort zurücksetzen'" (click)="reset(emailForPassReset)"></app-kuis-button>
    </div>
</ion-content>
