<app-navbar [name]="'Passwort zurücksetzen'"></app-navbar>

<ion-content>
  <div class="content">
    <ion-item class="roundetInput">
      <ion-label>E-Mail*</ion-label>
      <ion-input class="ion-text-end"
                 #email placeholder="E-Mail"
                 clearOnEdit="false"
                 [(ngModel)]="emailForPassReset"
                 type="email"
                 maxlength="30"
                 required></ion-input>
    </ion-item>
    <app-kuis-button [title]="'Login'" (click)="reset(emailForPassReset)"></app-kuis-button>
  </div>
</ion-content>
