/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300;400;600&display=swap');

/* Colors */
$color-kuis: #12B39A;
$color-kuisBlack: #303030;
$color-kuisGray: #D9D9D9;
$color-kuisOrange: #FF9500;

/* Fonts */
$font-header: 'Poppins', normal;
$font-body: 'Quicksand', normal;

ion-app {
  --ion-background-color: #D9D9D9;
  --ion-color-primary: #12B39A;
  --ion-toolbar-background: #12B39A;
  --ion-text-color: #FFFF;
  --ion-font-family: $font-header;
}

ion-content {
  --ion-font-family: $font-body;
  font-family: $font-body;
  --ion-text-color: #303030;
}

ion-back-button {
  color: white;
}

