@import 'src/global.scss';

ion-card-content {
  width: 100%;
  height: 20vh;
  padding: 0;
  border: 0;
  margin: 0;
}

ion-card-header {
  padding: 0;
  border: 0;
  margin: 0;
}

ion-card-title {
  color: $color-kuisBlack;
  text-align: center;
}

ion-card-subtitle {
  color: $color-kuisGray;
  text-align: center;
}

.bild {
  border: solid 10px $color-kuis;
  border-radius: 20px;
  object-fit: cover;
  box-sizing: border-box;
}

ion-img {
  width: 100%;
  height: 30vh;
}

.antwort {
  width: 22vh;
  min-height: 10vh;
  height: auto;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  padding: 25px 0;
}

.richtig {
  background-color: green;
}

.falsch {
  background-color: red;
}

.nochNichtGewaehlt {
}
