@import 'src/global.scss';

ion-card-content {
  width: 100%;
  height: auto;
  padding: 15px 0;
  border: 0;
  margin: 0;
}

ion-grid, ion-col {
  padding: 0;
}

ion-card-header {
  padding: 0;
  border: 0;
  margin: 0;
}

ion-card-title {
  color: $color-kuisBlack;
  text-align: center;
}

ion-row {
  margin-left: auto;
}

.bild {
  border: solid 10px $color-kuis;
  border-radius: 20px;
  object-fit: cover;
  box-sizing: border-box;
}

ion-img {
  width: 100%;
  height: 30vh;
}

.antwort {
  background-color: white;
  width: 95%;
  min-height: 10vh;
  height: auto;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  padding: 25px 0;
  box-sizing: border-box;
  border: 0 solid $color-kuisGray;
}

.richtig {
  background-color: $color-kuis;
  opacity: 1;
}

.falsch {
  background-color: $color-kuisRed;
  opacity: 1;
}

.antwort1 {
  margin: 5% 5% 5% 0;
}

.antwort2 {
  margin: 5% 0 5% 5%;
}

.antwort3 {
  margin: 5% 5% 5% 0;
}

.antwort4 {
  margin: 5% 0 5% 5%;
}

.disabled {
  background: darken($color-kuisGray, 10%);

  ion-card-title {
    color: grey !important;
  }
}

.nochNichtGewaehlt {
}
