<h1 *ngIf="modulService.isLernmodus">Deine benötigte Zeit: {{timer}} Sekunden</h1>
<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card class="card-color-white">
                <ion-card-header>
                    <ion-img [alt]="'Bild'" [src]="bild"></ion-img>
                    <ion-card-title>{{f.frage}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card [disabled]="disabled"
                      (click)="submitAnswer(f.antworten[0])"
                      [ngClass]="richtig1 ? 'richtig' : 'nochNichtGewaehlt' && falsch1 ? 'falsch' : 'nochNichtGewaehlt'">
                <ion-card-header>
                    <ion-card-title>{{f.antworten[0]}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card [disabled]="disabled"
                      (click)="submitAnswer(f.antworten[1])"
                      [ngClass]="richtig2 ? 'richtig' : 'nochNichtGewaehlt' && falsch2 ? 'falsch' : 'nochNichtGewaehlt'">
                <ion-card-header>
                    <ion-card-title>{{f.antworten[1]}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card [disabled]="disabled"
                      (click)="submitAnswer(f.antworten[2])"
                      [ngClass]="richtig3 ? 'richtig' : 'nochNichtGewaehlt' && falsch3 ? 'falsch' : 'nochNichtGewaehlt'">
                <ion-card-header>
                    <ion-card-title>{{f.antworten[2]}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card [disabled]="disabled"
                      (click)="submitAnswer(f.antworten[3])"
                      [ngClass]="richtig4 ? 'richtig' : 'nochNichtGewaehlt' && falsch4 ? 'falsch' : 'nochNichtGewaehlt'">
                <ion-card-header>
                    <ion-card-title>{{f.antworten[3]}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-grid>

<app-quiz-fortschritt [anzahl]="counter + 1" [gesamtAnzahl]="this.storageService.fragen.length"></app-quiz-fortschritt>
