<div *ngIf="user.historieLernmodus.length != 0; else noHistory">
    <ion-card class="card-border-rounded kuis-margin">
        <ion-card-header>
        <ion-card-title>
            <h3>Gesamt-Statistik</h3>
        </ion-card-title>
        <h5>{{sumFragen}} Fragen beantwortet</h5>
        </ion-card-header>
        <ion-card-content>
            <div>
                <div>
                    <div class="chart">
                        <canvas baseChart
                                [data]="pieChartData"
                                [labels]="pieChartLabels"
                                [chartType]="pieChartType"
                                [options]="pieChartOptions"
                                [plugins]="pieChartPlugins"
                                [colors]="pieChartColors"
                                [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
            <ion-item lines="none">
                <h3 slot="start">Spielzeit</h3>
                <h3 slot="end">{{tage}}d {{stunden}}h {{minuten}}m {{sekunden}}s</h3>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card class="card-border-rounded kuis-margin">
        <ion-list>
            <ion-list-header><h5>Historie des Lernmodus</h5></ion-list-header>
            <ion-item-group *ngFor="let spiel of user.historieLernmodus; let i = index">
                <ion-item lines="none">
                    <ion-label>
                        <h4>Lernrunde {{counter[i]}}</h4>
                    </ion-label>
                    <h4 slot="end">{{spiel}}/10</h4>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </ion-card>
    <ion-card class="card-border-rounded kuis-margin">
        <ion-list>
            <ion-list-header><h5>Historie der frei gewählte Module</h5></ion-list-header>
            <ion-item-group *ngFor="let anzahl of user.historieFreiermodusAnzahl; let i = index">
                <ion-item lines="none">
                    <ion-label>
                        <h4>{{user.historieFreiermodusName[i]}}</h4>
                    </ion-label>
                    <h4 slot="end">{{anzahl}}</h4>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </ion-card>
</div>

<ng-template #noHistory>
    <ion-item lines="none">
        <ion-label>
            <h1> Keine Historie vorhanden.</h1>
        </ion-label>
    </ion-item>
</ng-template>

