<ion-header>
  <ion-toolbar>
    <ion-title>Module Importieren</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="filteredModules.length > 0; else empty">
    <app-quiz-wrapper (click)="addModule(modul)" [titel]="modul.titel" [add]="true"
                      [bild]="modul.bild" *ngFor="let modul of filteredModules">
    </app-quiz-wrapper>
  </div>
</ion-content>

<ng-template #empty>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h4>Die Suche ergab keinen Treffer.</h4></ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ng-template>
